name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"   # <- change from 3.10 to 3.9

      - name: Run Linting
        run: |
          pip install flake8
          flake8 .

      - name: Run Tests
        run: |
          pip install nose
          nosetests

